* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
    background:hsl(225, 100%, 94%);
    position: relative;
}

button {
    border: none;
    outline: none;
}

#background {
    width: 100%;
    max-height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

main {
    width: min(90%,400px);
    background: white;
    border-radius: 20px;
    box-shadow: 0px 30px 40px -20px rgba(0,0,0,0.35);
}

header img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

section {
    width: min(87%,330px);
    margin: 2rem auto;
    text-align: center;
}

section h1 {
    margin-bottom: 1rem;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

section p {
    width: 90%;
    margin: 0 auto 1rem;
    color: hsl(224, 23%, 55%);
    line-height: 1.4;
}

.plan {
    padding: 1rem 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background:  hsl(225, 100%, 98%);
    font-size: 0.93rem;
}

.plan .col {
    display: flex;
    align-items: center;
}

.plan__name {
    margin-left: 1rem;
}

.plan__name p {
    margin: 0;
} 

.plan__name b {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

.plan__change a{
    margin-right: 0.7rem;
    font-weight: 700;
    color: hsl(245, 75%, 52%);
    transition: 0.3s ease-in;
}

.plan__change a:hover {
    cursor: pointer;
    opacity: 0.7;
    text-decoration: none;
}

#payment-btn {
    width: 100%;
    margin: 2rem 0rem 1.5rem;
    padding: 0.8rem 0rem;
    border-radius: 10px;
    background: hsl(245, 75%, 52%);
    color: rgb(248, 248, 248);
    font-weight: 700;
    box-shadow: 0px 20px 20px -10px rgba(0,0,0,0.25);
    transition: 0.3s ease-in;
}

#payment-btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

#cancel-link {
    font-size: 0.85rem;
    text-decoration: none;
    font-weight: 900;
    color: hsl(224, 23%, 55%);
    transition: 0.3s ease-in;
}

#cancel-link:hover {
    color: hsl(223, 47%, 23%);
}

@media (max-width: 340px) {
    :root {
        font-size: 15px;
    }
}